.Main {
  text-align: center;
  width: 90%;
  max-width: 1200px;
  margin: 30px auto;
}

.recipeRequest {
    margin-bottom: 100px;
}

.recipes {
    margin: 3rem 0;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 1fr 1fr 1fr ;
}
